h1  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blueviolet;
}

div {
    max-width: 500px;
    font-size: 32px;
    padding-top: 32px;
    margin: 0 auto;
}